/* General Style */

@font-face {
	font-family: Nunito;
	src: url(font/Nunito-VariableFont_wght.ttf);
}

:root {
	font-family: "Nunito";
	font-size: 12px;
}


[hidden] {
    display: none !important;
}

body {
    margin: 0;
    overflow: hidden;
}

.flex-con-overlay {
    position: absolute;
    width: 100vw;

    display: flex;
    flex-direction: column;
}

.flex-con-root {
    display: flex;
    flex-direction: column;
}

.btn {
    border-style: none;
    border-radius: 0.5rem;

    background-color: #0057bf;
    opacity: 90%;

    color: white;
    font-size: 1.2rem;
    text-decoration: none;

    padding: 0.7rem 1.5rem 0.7rem 1.5rem;

    transition: all;
    transition-duration: 0.05s;

    cursor: pointer;
    user-select: none;
}
.btn:hover {
    opacity: 100%;
}
.btn:active {
    outline: #0057bf88;
    outline-style: solid;
}

/* index.html */

#header {
    min-height: 4.3rem;
    
    background-color: white;

    filter: drop-shadow(0 0 0.5rem lightgray);

    display: flex;
    flex-direction: row;
    align-items: center;
}
    #header>.icon {
        height: 3rem;
        margin: 1rem;
        user-select: none;
    }
    #header>.title {
        font-size: 1.4rem;
        user-select: none;
    }
    #header>#student-selection {
        margin-left: auto;
        margin-right: 0.4rem;

        font-family: inherit;
        font-size: 1.3rem;
        color: gray;

        border: none;
        background-color: rgb(0,0,0,0);
    }
        #header>#student-selection>option {
            font-family: Arial, Helvetica, sans-serif;
        }
    #header>#login {
        margin-left: auto;
        margin-right: 1rem;

        display: flex;
        flex-direction: row;

        align-items: center;
    }
        #header>#login>.icon {
            height: 1.3rem;
            margin-left: 0.5rem;
            filter: drop-shadow(0 0 0.1rem black);

            user-select: none;
        }

#not-logged-in-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 100vw;
    
    font-size: 2.5rem;
    text-align: center;
    color: gray;

    user-select: none;

    margin: 0.5rem;
}


@keyframes spinner-spin {
    0% {
      transform: translate(-50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%) rotate(360deg);
    }
}
@keyframes spinner-emph-pulse {
    0%, 100% {
        clip-path: polygon(0 0, 0 15%, 0 20%, 50% 50%, 15% 0, 20% 0);
    }
    25%, 75% {
        clip-path: polygon(0 0, 0 100%, 0 100%, 50% 50%, 100% 0, 100% 0);
    }
    50% {
        clip-path: polygon(0 0, 0 100%, 70% 100%, 50% 50%, 100% 70%, 100% 0);
    }

}
#spinner {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    
    width: 12rem;
    height: 12rem;

    clip-path: circle(50%);
    background-color: #4a93ec;

    transition: all;
    transition-duration: 0.2s;

    animation: 0.9s linear infinite spinner-spin;
}
    #spinner #inner {
        /* display: none; */

        background-color: white;
        position: absolute;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 85%;
        height: 85%;
        clip-path: circle(50%);
    }
    #spinner #emphasized {
        background-color: #0057bf;

        width: 100%;
        height: 100%;
        clip-path: polygon(0 0, 0 100%, 100% 0);

        animation: 2.5s linear infinite spinner-emph-pulse;
    }


@media(min-width:110vh) {
    #grades {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
    }
    #grades>.subject {
        width: 30vw;
        margin: 0 auto 0 auto;
        width: 90%;
    }
}
#grades {
    padding: 1rem;

    display: flex;
    flex-direction: column;

    overflow: scroll;
    max-height: 92vh;
    scrollbar-width: none;
}
        #grades>.subject>h2 {
            font-weight: normal;
            font-size: 2rem;
            margin: 0.5rem 0 0.5rem 0;

            min-height: 3rem;

            display: flex;
            flex-direction: row;
        }
            #grades>.subject>h2>.average {
                font-weight: bold;

                background-color: #0057bf;
                /* filter: drop-shadow(0 0 0.5rem black); */
                
                padding: 0.2rem 0.5rem 0 0.5rem;
                margin-left: auto;

                color: white;

                border-radius: 1rem;
            }
        #grades>.subject>.body {
            width: inherit;

            padding: 0 0 2rem 0;

            border-top-style: solid;
            border-width: 0.1rem;
            border-color: lightgray;

            display: flex;
            flex-direction: row;
        }
            #grades>.subject>.body>p {
                margin: 0.3rem 0 0.3rem 0;
                font-size: 1.5rem;
                text-align: center;
                flex-grow: 1;
            }
            #grades>.subject>.body>.category {
                position: relative;

                margin: 0.5rem 0.4rem 0 0.4rem;

                border-color: #4a93ec;
                border-style: solid;
                border-radius: 0.4rem;

                min-height: 5rem;

                flex-grow: 1;
                display: flex;
                flex-direction: column;

                align-content: center;
                text-align: center;
            }
                #grades>.subject>.body>.category>h3 {
                    margin: 0;
                    padding: 0 0.3rem 0 0.3rem;

                    font-weight: normal;
                    font-size: 1.5rem;

                    color: #0057bf;
                }
                #grades>.subject>.body>.category>.types {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    flex-wrap: wrap;
                }
                    #grades>.subject>.body>.category>.types>.grade-type {
                        background-color: #4a93ec88;

                        margin: 0.5rem;
                        padding: 0.5rem;

                        /* border-left-color: #0057bf;
                        border-left-width: 0.4rem;
                        border-left-style: solid; */

                        flex-grow: 1;

                        border-radius: 0.5rem;
                    }
                        #grades>.subject>.body>.category>.types>.grade-type>h4 {
                            margin: 0 0.2rem 0 0.2rem;
                            
                            color: #0057bf;
                            font-size: 1.2rem;
                            font-weight: normal;
                        }
                        #grades>.subject>.body>.category>.types>.grade-type>.grades {
                            font-size: 1.7rem;

                            margin-top: 0.15rem;
                            padding-top: 0.3rem;

                            border-top-color: #4a93ec;
                            border-top-width: 0.1rem;
                            border-top-style: solid;

                            display: flex;
                            justify-content: left;

                            flex-wrap: wrap;
                        }
                            #grades>.subject>.body>.category>.types>.grade-type>.grades>span {
                                background-color: #4a93ec;
                                
                                color: white;
                                width: 1.3em;
                                height: 1.3em;

                                margin: 0.3rem;

                                clip-path: circle(50%);
                            
                            }